*,*::before , *::after{
    box-sizing: border-box;
    font-family: Gotham Raunded;
}

body{
    /* --hue: var(--hue-neutral); */
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 105, 100);            /*hsl(var(--hue), 100% , 200%); */
}

body.correct{
    background-color: green;
}

body.wrong{
    background-color: red;
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    border: 1px solid rgb(226, 112, 131);
    background-color: darksalmon;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: white;
}

.btn.correct{
    background-color: green;
    color: black;
}

.btn.wrong{
    background-color: red;
    color: black;
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none; 
}